<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Colleges</title>
</head>
<body>
    <h1>Select A College You Want To Search!</h1>
    <form action='/results' method='POST'>
    <table>
        <tr>
            <th>College Id</th>
            <th>College Name</th>
            <th>City</th>
            <th>State</th> 
        </tr>
        {% for row in results %}
        <tr>
            <td><input type='radio' name='college' value='{{row[0]}}' checked='checked'/> {{ row[0] }} </td>
            <td> {{ row[1] }} </td>
            <td> {{ row[2] }} </td>
            <td> {{ row[3] }} </td>
        </tr>
        {% endfor %}
    </table>
    <p>Which way do you want to present the results?</p>
    <p>
        Sort by:
        <input type='radio' name='sort' value='rating'/>Rating
        <input type='radio' name='sort' value='distance' checked='checked'/> Distance
    </p>
    <p>
        Order:
        <input type='radio' name='order' value='desc' checked='checked'/> Descending
        <input type='radio' name='order' value='asc'/> Ascending
    </p>
    <p>
        <input type='checkbox' name='plot'/> Using Plot
    </p>

    <input type='submit' value='Submit'>
    </form>
</body>
</html>